body,
html {
  width: 100%;
  height: 100%;
}

.bg-blue {
  background-color: #0068B5;
}

.navbar-brand {
  padding-left: 10px;
}

.nav-link {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-nav-svg {
  fill: #FFFFFF;
  height: 32px;
  width: 32px;
}
